<!-- <div class="body algolia_docs algolia_hits_expanded"> -->
<div class="body container">
  <script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{{> main-snippet}}
</div>
