<style>#block_footer .dept_block h6 {text-decoration: none; font-size: 12px !important; line-height: 16px !important; z-index: 2; color: #fff !important;}</style>
<div id="block_footer">
  <div class="footer_footer__DbCCS">
  	<div class="footer_grid_container__0vDr_">
  		<div class="footer_blurb___32X3" style="margin-top: 20px;">
  			<a href="/" title="ThoughtSpot home page"><picture><img src="../../_/img/small_logo.svg" width="31" height="32" loading="lazy"></picture></a>
  			<p>ThoughtSpot is the Modern Analytics Cloud company. Our Live Analytics services deliver personalized, actionable insights at the point of impact for every user, at every level.</p>
  		</div>
  		<div class="footer_footer_nav__8sh2R">
  			<div class="footer_nav_column__aSI9x">
  				<h6 class="footer_nav_title__OE040">Product</h6>
  				<ul>
  					<li><a href="https://thoughtspot.com/product" target="_blank">Product</a></li>
  					<li><a href="https://thoughtspot.com/spotiq" target="_blank">Auto Analyze</a></li>
  					<li><a href="https://thoughtspot.com/product/visualize" target="_blank">Visualize</a></li>
  					<li><a href="https://thoughtspot.com/product/connect" target="_blank">Connect</a></li>
  					<li><a href="https://thoughtspot.com/sync" target="_blank">Operationalize</a></li>
  					<li><a href="https://thoughtspot.com/embedded-analytics" target="_blank">Embed</a></li>
  					<li><a href="https://thoughtspot.com/mobile" target="_blank">Mobile</a></li>
  					<li><a href="https://thoughtspot.com/product/governance" target="_blank">Govern &amp; Secure</a></li>
  					<li><a href="https://thoughtspot.com/new-features" target="_blank">New features</a></li>
  					<li><a href="https://thoughtspot.com/pricing" target="_blank">Pricing</a></li>
  				</ul>
  			</div>
  			<div class="footer_nav_column__aSI9x">
  				<h6 class="footer_nav_title__OE040">By Role</h6>
  				<ul>
  					<li><a href="https://thoughtspot.com/business-leader" target="_blank">Business Leader</a></li>
  					<li><a href="https://thoughtspot.com/data-leader" target="_blank">Data Leader</a></li>
  					<li><a href="https://thoughtspot.com/analyst" target="_blank">Analyst</a></li>
  					<li><a href="https://thoughtspot.com/everywhere" target="_blank">Product Leader</a></li>
  					<li><a href="https://developers.thoughtspot.com/" target="_blank">Developer</a></li>
  				</ul>
                        <div class="dept_block">
                           <h6>By Department</h6>
                           <ul>     <li><a href="https://thoughtspot.com/marketing" target="_blank">Marketing</a></li>
  					<li><a href="https://thoughtspot.com/sales" target="_blank">Sales</a></li>
  					<li><a href="https://thoughtspot.com/itops" target="_blank">ServiceNow Analytics</a></li>
  				</ul>
                           </div>
                       </div>

  			<div class="footer_nav_column__aSI9x">
  				<h6 class="footer_nav_title__OE040">Solutions</h6>
  				<ul>
  				     <li><a href="/solutions/financial-services/banking">Banking </a></li>
                  <li> <a href="https://thoughtspot.com/solutions/financial-analytics" target="_blank">Financial Services</a></li>
                  <li><a href="https://thoughtspot.com/solutions/retail-analytics" target="_blank">Retail &amp; E-commerce</a></li>
                 <li><a href="https://thoughtspot.com/solutions/manufacturing-analytics" target="_blank">Manufacturing &amp; Logistics</a></li>
                  <li><a href="https://thoughtspot.com/solutions/healthcare-life-sciences-analytics" target="_blank">Healthcare &amp; Life Sciences</a></li>
                <li><a href="https://thoughtspot.com/solutions/communications-analytics" target="_blank">Media &amp; Communications</a></li>
                <li><a href="https://thoughtspot.com/solutions/procurement-analytics" target="_blank">Procurement </a></li>
                 <li><a href="https://thoughtspot.com/solutions/public-sector-analytics" target="_blank">Public Sector</a></li>
  				</ul>
  			</div>
  			<div class="footer_nav_column__aSI9x">
  				<h6 class="footer_nav_title__OE040">About Us</h6>
  				<ul>
  					<li><a href="https://thoughtspot.com/team" target="_blank">Team</a></li>
  					<li><a href="https://thoughtspot.com/customers" target="_blank">Customers</a></li>
  					<li><a href="https://thoughtspot.com/atlas-marketplace" target="_blank">Atlas Marketplace</a></li>
  					<li><a href="https://thoughtspot.com/partners" target="_blank">Partner Directory</a></li>
  					<li><a href="https://thoughtspot.com/events" target="_blank">Events</a></li>
  					<li><a href="https://thoughtspot.com/news" target="_blank">News</a></li>
  					<li><a href="https://thoughtspot.com/careers" target="_blank">Careers</a></li>
  					<li><a href="https://thoughtspot.com/blog" target="_blank">Blog</a></li>
  					<li><a href="https://thoughtspot.com/legal" target="_blank">Legal</a></li>
  					<li><a href="https://thoughtspot.com/trust" target="_blank">Trust</a></li>
  				</ul>
  			</div>
  			<div class="footer_nav_column__aSI9x">
  				<h6 class="footer_nav_title__OE040">Connect</h6>
  				<ul>
  					<li><a href="https://thoughtspot.com/trial?tsiref=web-footer" target="_blank">Free Trial</a></li>
                      <li><a href="https://thoughtspot.com/resources" target="_blank">Resources</a></li>
  					<li><a href="https://thoughtspot.com/demo" target="_blank">Request Demo</a></li>
  					<li><a href="https://thoughtspot.com/professional-services" target="_blank">Professional Services</a></li>
  					<li><a href="https://community.thoughtspot.com/" target="_blank">Community</a></li>
  					<li><a href="https://thoughtspot.com/support" target="_blank">Support</a></li>
  					<li><a href="https://thoughtspot.com/contact" target="_blank">Contact Us</a></li>
  				</ul>
  			</div>

  		</div>
  	</div>
  	<div class="footer_grid_container__0vDr_">
<div class="footer_stay_in_touch__GU7b_">
  			<p class="footer_small_header__qEmlQ"></p>
  			<p></p>

<!-- <iframe title="Form iframe" class="pardot_embed_pardot_iframe__V2v_H pardot_embed_loaded___Mzjb height_set" src="https://go.thoughtspot.com/l/710713/2019-04-23/6skk?mixpanelProps=trial_registration_context%3Afooter&amp;TS_GA_UTM_Referral_Code=loc_page%2Bpage_%2Bsource_Direct%2Btsref_null%2Btsiref_null&amp;page_url=%2F&amp;uuid=41904c64-b3c2-4baa-bf50-b39d6838b029" width="450" height="86" style="height: 86px;"></iframe> -->
</div>
  		<div class="desktop_only footer_contact_and_share__NQF45">
  			<p><a href="tel:8005087008" title="Call ThoughtSpot">(800) 508-7008</a></p>
  			<span itemtype="http://schema.org/Organization">
  				<a itemprop="sameAs" href="https://twitter.com/thoughtspot" target="_blank" target="_blank" title="Thoughtspot on Twitter" rel="noreferer noopener nofollow"><picture><img src="../../_/img/twitter.svg" width="23" height="18" loading="lazy"></picture></a>
  				<a itemprop="sameAs" href="https://www.facebook.com/ThoughtSpot" target="_blank" title="Thoughtspot on Facebook" rel="noreferer noopener nofollow"><picture><img src="../../_/img/facebook.svg" width="13" height="23" loading="lazy"></picture></a>
  				<a itemprop="sameAs" href="https://www.linkedin.com/company/thoughtspot" target="_blank" title="Thoughtspot on LinkedIn" rel="noreferer noopener nofollow"><picture><img src="../../_/img/linkedin.svg" width="24" height="23" loading="lazy"></picture></a>
  			</span>
  		</div>
  	</div>
  	<div class="footer_grid_container__0vDr_">
  		<div class="footer_ultima_footer__dSxKr">
  			©2023 ThoughtSpot Inc.
        All Rights Reserved
  			<br class="mobile_only"><a href="https://thoughtspot.com/terms-of-use" target="_blank">Terms of Use</a> <a href="https://thoughtspot.com/privacy">Privacy Statement</a>
  			<a href="https://thoughtspot.com/cookies-policy" target="_blank">Cookie Policy</a>
  		</div>
  	</div>
  </div>
<!-- old footer start
<div class="grid_container">
<div class="blurb">
<a href="/" class="logo" title="ThoughtSpot home page">Home Page</a>
<p class="smallest light_grey">ThoughtSpot is the Search & AI-driven Analytics platform for the enterprise. Anyone can use search to analyze company data in seconds and get automated insights when you need them.</p>
</div>
<div class="footer_nav">
<div class="nav_column">
<h6 class="nav_title">Product</h6>
<ul class="menu">
<li><a href="https://www.thoughtspot.com/product"target="_blank">Product</a></li>
<li><a href="https://www.thoughtspot.com/spotiq" target="_blank">Auto Analyze</a></li>
<li><a href="https://www.thoughtspot.com/product/visualize" target="_blank">Visualize</a></li>
<li><a href="https://www.thoughtspot.com/product/connect" target="_blank">Connect</a></li>
<li><a href="https://www.thoughtspot.com/sync" target="_blank">Operationalize</a></li>
<li><a href="https://www.thoughtspot.com/embedded-analytics" target="_blank">Embed</a></li>
<li><a href="https://www.thoughtspot.com/mobile" target="_blank">Mobile</a></li>
<li><a href="https://www.thoughtspot.com/product/governance" target="_blank">Govern & Secure</a></li>
<li><a href="https://www.thoughtspot.com/new-features" target="_blank">New features</a></li>
<li><a href="https://www.thoughtspot.com/pricing" target="_blank">Pricing</a></li>
</ul>
</div>
<div class="nav_column">
<h6 class="nav_title">By Role</h6>
<ul class="menu">
<li><a href="https://www.thoughtspot.com/business-leader"target="_blank">Business Leader</a></li>
<li><a href="https://www.thoughtspot.com/data-leader" target="_blank">Data Leader</a></li>
<li><a href="https://www.thoughtspot.com/analyst" target="_blank">Analyst</a></li>
<li><a href="https://www.thoughtspot.com/everywhere" target="_blank">Product Leader</a></li>
<li><a href="https://developers.thoughtspot.com/" target="_blank">Developer</a></li>
</ul>
</div>
<div class="nav_column">
<h6 class="nav_title">By Department</h6>
<ul class="menu">
<li><a href="https://www.thoughtspot.com/marketing"target="_blank">Marketing</a></li>
<li><a href="https://www.thoughtspot.com/sales" target="_blank">Sales</a></li>
<li><a href="https://www.thoughtspot.com/itops" target="_blank">ServiceNow Analytics</a></li>
</ul>
</div>
<div class="nav_column">
<h6 class="nav_title">Solutions</h6>
<ul class="menu">
<li><a href="https://www.thoughtspot.com/banking" target="_blank">Banking</a></li>
<li><a href="https://www.thoughtspot.com/solutions/financial-analytics" target="_blank">Financial Services</a></li>
<li><a href="https://www.thoughtspot.com/solutions/retail-analytics" target="_blank">Retail & E-commerce</a></li>
<li><a href="https://www.thoughtspot.com/solutions/manufacturing-analytics" target="_blank">Manufacturing & Logistics</a></li>
<li><a href="https://www.thoughtspot.com/solutions/healthcare-life-sciences-analytics" target="_blank">Healthcare & Life Sciences</a></li>
<li><a href="https://www.thoughtspot.com/solutions/communications-analytics" target="_blank">Media & Communications</a></li>
<li><a href="https://www.thoughtspot.com/solutions/procurement-analytics" target="_blank">Procurement</a></li>
<li><a href="https://www.thoughtspot.com/solutions/public-sector-analytics" target="_blank">Public Sector</a></li>
</ul>
</div>
<div class="nav_column">
<h6 class="nav_title">About Us</h6>
<ul class="menu">
<li><a href="https://www.thoughtspot.com/team" target="_blank">Team</a></li>
<li><a href="https://www.thoughtspot.com/customers" target="_blank">Customers</a></li>
<li><a href="https://www.thoughtspot.com/atlas-marketplace" target="_blank">Atlas Marketplace</a></li>
<li><a href="https://www.thoughtspot.com/partners" target="_blank">Partner Directory</a></li>
<li><a href="https://www.thoughtspot.com/events" target="_blank">Events</a></li>
<li><a href="https://www.thoughtspot.com/news" target="_blank">News</a></li>
<li><a href="https://www.thoughtspot.com/careers" target="_blank">Careers</a></li>
<li><a href="https://www.thoughtspot.com/blog" target="_blank">Blog</a></li>
<li><a href="https://www.thoughtspot.com/legal" target="_blank">Legal</a></li>
<li><a href="https://www.thoughtspot.com/trust" target="_blank">Trust</a></li>
</ul>
</div>
<div class="nav_column">
<h6 class="nav_title">Connect</h6>
<ul class="connect">
<li><a href="https://www.thoughtspot.com/trial?tsiref=web-footer" target="_blank">Free Trial</a></li>
<li><a href="https://www.thoughtspot.com/resources" target="_blank">Resources</a></li>
<li><a href="https://www.thoughtspot.com/demo" target="_blank">Request Demo</a></li>
<li><a href="https://www.thoughtspot.com/professional-services" target="_blank">Professional Services</a></li>
<li><a href="https://community.thoughtspot.com" target="_blank">Community</a></li>
<li><a href="https://www.thoughtspot.com/support" target="_blank">Support</a></li>
<li><a href="https://www.thoughtspot.com/contact" target="_blank">Contact Us</a></li>
</ul>
</div>
<div class="nav_column mobile_only">
<div class="contact_and_share">
<p class="collapse"><a href="tel:8005087008" title="Call ThoughtSpot">(800) 508-7008</a></p>
<span itemscope itemtype="http://schema.org/Organization">
<a itemprop="sameAs" href="https://twitter.com/thoughtspot" target="_blank" title="Thoughtspot on Twitter" class="share twitter"><span class="screenreader_only">Thoughtspot on Twitter</span></a>
<a itemprop="sameAs" href="https://www.facebook.com/ThoughtSpot" target="_blank" title="Thoughtspot on Facebook" class="share facebook"><span class="screenreader_only">Thoughtspot on Facebook</span></a>
<a itemprop="sameAs" href="https://www.linkedin.com/company/thoughtspot" target="_blank" title="Thoughtspot on LinkedIn" class="share linkedin"><span class="screenreader_only">Thoughtspot on LinkedIn</span></a>
</span>
</div>
</div>
</div>
</div>
<div class="grid_container">
<div class="stay_in_touch">
<!-- <p class="white collapse smallest">Stay in Touch</p>
<p class="light_grey collapse smallest">Get the latest from ThoughtSpot</p>

<iframe title="Form iframe" class="pardot_iframe" src="https://go.thoughtspot.com/l/710713/2019-04-23/6skk?lang=en&success_redirect=https%3A%2F%2Fgo.thoughtspot.com%2Fsubscribe-thank-you.html" width="450" height="110"></iframe> -->
<!-- </div>
<div class="contact_and_share desktop_only">
<p class="collapse"><a href="tel:8005087008" title="Call ThoughtSpot">(800) 508-7008</a></p>
<span itemscope itemtype="http://schema.org/Organization">
<a itemprop="sameAs" href="https://twitter.com/thoughtspot" target="_blank" title="Thoughtspot on Twitter" class="share twitter"><span class="screenreader_only">Thoughtspot on Twitter</span></a>
<a itemprop="sameAs" href="https://www.facebook.com/ThoughtSpot" target="_blank" title="Thoughtspot on Facebook" class="share facebook"><span class="screenreader_only">Thoughtspot on Facebook</span></a>
<a itemprop="sameAs" href="https://www.linkedin.com/company/thoughtspot" target="_blank" title="Thoughtspot on LinkedIn" class="share linkedin"><span class="screenreader_only">Thoughtspot on LinkedIn</span></a>
</span>
</div>
</div>
<div class="ultima_footer grid_container">
&copy;2023 ThoughtSpot Inc.<br class="mobile_only"> All Rights Reserved <br class="mobile_only">
<a href="https://www.thoughtspot.com/terms-of-use" target="_blank">Terms of Use</a> <a href="https://www.thoughtspot.com/privacy" target="_blank">Privacy Statement</a>
<a href="https://www.thoughtspot.com/cookies-policy" target="_blank">Cookie Policy</a>
</div>
</div>
</div> -->
<script>var vanillaModal = new VanillaModal.default()</script>

<!-- old footer
<!-- <footer class="footer">
  <div class="container">
    <div class="footer-links">
      <span>&copy;{{{year}}} ThoughtSpot, Inc. All rights reserved.</span>
  </div>
 </div>
</footer> -->
