{{> head-prelude}}
<title>ThoughtSpot Documentation</title>
{{#if site.url}}
  <link rel="canonical" href="{{site.url}}">
{{/if}}
{{> head-styles}}
{{> head-meta}}
{{> head-scripts}}
{{> head-icons}}
