<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">

  </div>
  {{/if}}
  <ul class="components">
    <li class="component">
      <a class="title" href="https://docs.thoughtspot.com/cloud/latest/">Cloud</a>
      <!-- <a class="title" href="https://beta-docs.thoughtspot.com">Cloud</a> -->
      <ul class="versions">
        <li class="version is-latest">
          <a href="https://docs.thoughtspot.com/cloud/latest/">Latest</a>
          <!-- <a href="https://beta-docs.thoughtspot.com">Latest</a> -->
        </li>
      </ul>
    </li>
    <li class="component">
      <a class="title" href="https://docs.thoughtspot.com/software/latest/">Software</a>
    <!-- <a class="title" href="https://la-docs.thoughtspot.com">Software</a> -->
      <ul class="versions">
        <li class="version is-latest">
          <a href="https://docs.thoughtspot.com/software/latest/">Latest</a>
          <!-- <a href="https://la-docs.thoughtspot.com">Latest</a> -->
        </li>
      </ul>
    </li>
    <li class="component">
      <a class="title" href="https://docs.thoughtspot.com/seekwell/latest/">SeekWell</a>
    <!-- <a class="title" href="https://la-docs.thoughtspot.com">Software</a> -->
      <ul class="versions">
        <li class="version is-latest">
          <a href="https://docs.thoughtspot.com/seekwell/latest/">Latest</a>
          <!-- <a href="https://la-docs.thoughtspot.com">Latest</a> -->
        </li>
      </ul>
    </li>
  </ul>
</div>
