
<div class="page-versions">
  <!-- <div class="version-menu-toggle2" title="Private beta release">{{@root.page.componentVersion.displayVersion}}<span class="badge badge-update-whats-new-beta-version">Beta</span></div> -->
  <div class="version-menu-toggle2" title="Limited Availability release">{{@root.page.componentVersion.displayVersion}}<span class="badge badge-update-whats-new-la">LA</span></div>
</div>
