<aside class="toc sidebar" data-title="{{or page.attributes.toctitle 'Contents'}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="toc-menu"></div>
<div class="is-this-helpful-box">Was this page helpful?<br><br><a class="btn btn-outline-primary btn-sm" href="#modal-1" role="button" data-modal-open>Give us feedback!</a></div>
      <div id="modal-1" style="display:none">
            <iframe src="https://www.getfeedback.com/e/IQWISvVi"></iframe>
          </div>
      <div class="modal">
        <div class="modal-inner">
          <a data-modal-close>&times;</a>
          <div class="modal-content"></div>
        </div>
      </div>
<!--      <script src="./vanilla-modal.js"></script> -->
<!-- <script>var modal = new VanillaModal.default();</script> -->
</aside>
