<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle="The page you're looking for can't be found"}}
  </head>
  <body class="status-404">
{{> header-404}}
{{> body-404}}
{{> footer}}
  </body>
</html>
